
<%- include('../partials/head.ejs') %>
<body> 
    <style>
        a {
            display: inline-flex;
        }
    </style>


    <h2> All Transcripts </h2>
        <% if (allItems && allItems.length > 0)  { %>
            <% allItems.forEach( (item, i) => {  %>
                <div class="">
                    <h3> 
                        <%=i%>: <a href="/transcript/<%= item %>" > <%=item%>  </a>
                    </h3>
                </div>
            <% }) %>
        <% } %>
        
    <h2> All T.Paragrpahs </h2>
    <% if (allItems && allItems.length > 0)  { %>
        <% allItems.forEach( (item, i) => {  %>
            <div class="">
                <h3> 
                    <%=i%>: <a href="/transcript/<%= item %>/paragraphs" > <%=item%>  </a>
                </h3>
            </div>
        <% }) %>
    <% } %>
</body>
