
<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/css/search.css" type="text/css">
<script type="text/javascript" src="/js/search.js"></script>
<div class="container searchResults">
    <% 
        let counter = 0;
        results.forEach( result => {  
            counter += result.clips.length;
        })
        console.log("global")
        console.log("global")
        console.log("global")
        console.log("global")
        console.log(global.htmlHeading)
        console.log(global.htmlHeading)
        console.log("locals")
        console.log(locals)
        locals.h2 = typeof h2 != "undefined" ? h2 : "Search: <i>" + search  + "</i>";
        locals.h3 = typeof h3 != "undefined" ? h3 : "Total results: " + counter;
    %>

    <%- include('../partials/title.ejs', locals) %> <%# h1, h2, h3 passed implicity %>
    <% results.forEach( result => {  %>
        <% if (result.clips && result.clips.length > 0) {  %>
            <hr>
            <div> <a href="/vods/<%= result._id %>"> Full Vod link </a></div>
            <%- include('./searchResults_vid.ejs', {  
                vidAndClips: result,
                vidTitle: result.vidTitle,     
                vidPath: result.vidPath,   
                queriedCaptions: result.clips   
            })%>
      <% } %>
    <% }) %>
    
</div>