
<% let vidSrc = process.env.CDN_DOMAIN + "/" + vidAndClips.vidPath?.replaceAll(" ", "+").replaceAll("#", "%23") %>


<div class="searchResults_wrap">
    <div class="searchResults_vid" >
        <div> <b> <%= vidAndClips.vidTitle %> </b></div>
        <div>  <%= vidAndClips.clips.length %> results </div>
        <video class="lazy"  id="<%= vidAndClips._id %>" controls>
            <!-- <source data-src="one-does-not-simply.mp4" type="video/mp4"> -->
            <source data-src="<%= vidSrc %>">
        </video>
    </div>
    <div class="searchResults_clips" onscroll="isAtBottom(event)" >
        <div class="bottom_icon"> 
            <span> ˅ </span>
        </div>
        <% vidAndClips.clips.forEach( (clip, i) => { %>
            <% 
                let start = clip['Start Time']?.slice(0, -3); 
                let end =  clip['End Time']?.slice(0, -3); 
                let startTime = new Date('1970-01-01T' + start + ".000+00:00").getTime() / 1000;
                let endTime = new Date('1970-01-01T' + end + ".000+00:00").getTime() / 1000;
            %>
            <%# https://developer.chrome.com/blog/play-request-was-interrupted/ #%>

            
            <div class="searchResults_t_info" id="<%= clip._id %>">
                <div class="searchResults_subtitle">
                    <span class="searchResults_counter"> <%= i + 1 %> </span>
                    <span class="play_icon" onclick="playClip(document.querySelector(`video source[data-src='<%= vidSrc %>']`)?.parentElement,    '<%= startTime %>' )"> <span> ▶ </span> </span>
                    <div class="searchResults_single_clip_link"> <a href="/clips/<%= clip._id %>"> link </a></div>
                </div>
                <div> <%= start %> - <%= end %></div>
                <div> <%- clip['Transcript'] %> </div>
            </div>
        <% }) %>
    </div>
</div>
