
<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/search.css" type="text/css">
<script type="text/javascript" src="/js/search.js"></script>
<div class="containerWide" id="searchResults">

    <div> Search: <i> <%= search %> </i></div>
    <!-- <div> RESULTS ALL <%= ("%o", results) %> </div> -->
    <% 
        let counter = 0;
        results.forEach( result => {  
            counter += result.queriedCaptions.length;
        })
    %>
    <div> Total results: <%= counter %> </div>
    
    <% results.forEach( result => {  %>
        <%- include('./searchResults_vid.ejs', {  
            vidTitle: result.vidTitle,     
            vidPath: result.vidPath,   
            queriedCaptions: result.queriedCaptions   
        })%>
    <% }) %>
    
</div>