<%- include('../partials/head.ejs') %> 
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/css/search.css" type="text/css">
<% 
 let placeholder = process.env.SAMPLE_PLACEHOLDER != null ? process.env.SAMPLE_PLACEHOLDER : "eg. challenger every season"
 let tip = process.env.SAMPLE_TIP1 != null ? process.env.SAMPLE_TIP1 : "challenger every season"
 let tip2 = process.env.SAMPLE_TIP2 != null ? process.env.SAMPLE_TIP2 : "lot of money OR my man OR subhuman OR gym"
 console.log('placeholder', placeholder)
 console.log('tip', tip)
 console.log('tip2', tip2)
%> 
<div class="container" id="search">
    <div id="main">
        <h3>Search all transcripts</h3>
        <form>
            <label> 
                <input id="searchInp" placeholder="<%= placeholder %>"/>
            </label>
            <button id="searchBtn" onclick="doSearch(event)" type="submit">Go</button>
        </form>
    </div>

    <div class="heading_sub1">Tips</div>
    <hr/>
    <div>
        <span class="search_hint">Exact phase: </span>
        <span class="search_ex"><i><%= tip %></i></span>
    </div>
    <div>
        <span class="search_hint">Multiple phases: </span>
        <span class="search_ex"><i> <%= tip2 %></i></span>
    </div>
</div>
<script>

    function doSearch(e) {
        e.preventDefault()
        let v = document.querySelector("#searchInp").value
        console.log(v)
        window.location.href = "/api/search?search=" + v;
        // fetch("/api/search?search=" + v, { method: "get" })
        //     .then(res => res.text())
        //     .then(data => console.log(data))
    }

</script>