
<div class="" id="searchResults_vid">

    <% if (queriedCaptions && queriedCaptions.length > 0) {  %>
        <% let vidSrc = process.env.CDN_DOMAIN + "/" + vidPath?.replaceAll(" ", "+") %>
        <div>
            <div> ------------------ </div>
            <div> <b> <%= vidTitle %> </b></div>
            <div>  <%= queriedCaptions.length %> results at this video </div>
            <div> <i> <%= vidSrc %> </i></div>
            <video id="" controls src='<%= vidSrc %>'></video>
        </div>
        <!-- <div>  queriedCaptions <%- JSON.stringify(queriedCaptions) %>  -->
        <% queriedCaptions.forEach( (cap, i) => { %>
            <% 
                let start = cap['Start Time'].slice(0, -3); 
                let end =  cap['End Time'].slice(0, -3); 
                let startTime = new Date('1970-01-01T' + start + ".000+00:00").getTime() / 1000;
                let endTime = new Date('1970-01-01T' + end + ".000+00:00").getTime() / 1000;
                let fnName = "playAtClip" + Math.floor(Math.random() * 100000)
            %>
            <%# https://developer.chrome.com/blog/play-request-was-interrupted/ #%>
            <!-- sub-optimal hacky code below. -->
            <script>
                    function <%= fnName %>() {
                        let vid = document.querySelector('video[src="<%= vidSrc %>"');
                        console.log(vid);
                        vid.currentTime =  "<%= startTime %>"
                        let playPromise = vid.play();
    
                        if (playPromise !== undefined) {
                            playPromise.then(_ => {
                                // Automatic playback started! Show playing UI. We can now safely pause video...
                                video.pause();
                            })
                            .catch(error => {
                                // Auto-play was prevented. Show paused UI.
                            });
                        }
                    }
            </script>
            <div class="searchResults_t_info">
                <div class="searchResults_subtitle">
                    <span class="searchResults_counter"> <%= i + 1 %> </span>
                    <span class="play_icon" onclick="<%= fnName %>()"> <span> ▶ </span> </span>
                </div>

                <!-- <span class="play_icon"> 	▸</span> -->


                <!-- <div> start sec = <%= startTime %></div>
                <div> end sec = <%= endTime %> </div> -->
                <div> <%= start %> - <%= end %></div>
                <div> <%= cap['Transcript'] %> </div>
            </div>
        
        <% }) %>
    <% } %>

    
</div>