
<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<link rel="stylesheet" href="/css/search.css" type="text/css">
<script type="text/javascript" src="/js/search.js"></script>
<div class="container searchResults">
    <% 
        let counter = 0;
        results.forEach( result => {  
            counter += result.clips.length;
        })
    %>
    <div class="searchResult_heading">
        <% if (heading != 'undefined' && heading !=null) { %>
        <h1> <%= heading %></h1> <% } %>
        <h2> Search: <i> <%= search %> </i></h2>
        <h3> Total results: <%= counter %> </h3>
    </div>
    <% results.forEach( result => {  %>
        <% if (result.clips && result.clips.length > 0) {  %>
            <hr>
            <div> <a href="/vods/<%= result._id %>"> Full Vod link </a></div>
            <%- include('./searchResults_vid.ejs', {  
                vidAndClips: result,
                vidTitle: result.vidTitle,     
                vidPath: result.vidPath,   
                queriedCaptions: result.clips   
            })%>
      <% } %>
    <% }) %>
    
</div>